#title{
  /*background-color:#067b08;*/
  color:white;
  font-size:30px;
  border-bottom:solid 5px #90ee90;
  /*
  width:110%;
  margin-left:-15px;
  */
}



#title p{
  color:white;
}

p{
  color:yellow;
}

table{
  width:100%;
}

table, th, td{
  background-color:#fffedf;
  border: 5px solid green;
  border-collapse: collapse;
  text-align:center;
  margin-bottom:10px;
}

td{
  margin: 5px;
}


#mainBackground{
  background-color:#067b08;
  border:solid 10px #90ee90;
  border-bottom:0px;
  padding:0px;
}
.bassanoRow{
  width:100%;
  margin-left:auto;
  position:relative;
  margin-right:auto;
}


.bassano{
  width:33.333%;
  border:solid 3px #006904;
  padding:10px;
}

.firstBassano{
  height:100%;
}



.bassanoImage{
  border:solid 10px yellow;
}

.bassanoImage:hover{
  border:solid 10px red;
}
